build.ninja
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
compile_commands.json
cmake/stm32cubemx/cmake_install.cmake
cmake/stm32cubemx/CMakeFiles
build
.vscode
.project
Makefile
FOC_Driver.lauch
.cproject
.ninja_deps
.ninja_log
config_default/
**/__pycache__/
.clangd
.settings
.venv